<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  
</head>
<style>
    .titleOfForm{
        margin:auto;
    }
</style>
<body>
    <% include ../partials/header %>
    <!--
    <div class="container">
        <% if (message.length > 0) { %>
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> <%= message %>.
            </div>
            <% } %>
            <form class="form-signin" action="/signup" method="post">
                <h2 class="form-signin-heading">Please Sign Up</h2>
				<label for="inputName" class="sr-only">Name address</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                <br>
            </form>
        </div>
!-->
        
 <!-- Grid column -->
 <div class="col-md-6 mb-4 mx-auto">
        <% if (message.length > 0) { %>
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> <%= message %>.
            </div>
            <% } %>
        <div class="card">
                
            <div class="card-body">
                    <h2 class="text-center font-up font-bold deep-orange-text py-4"> Sign up</h2>
                <!-- Form register -->
                <form class="form-signup" action="/signup" method="post">
                    
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="name" name="name" class="form-control" required="">
                        <label for="name">Your username</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="email" name="email" class="form-control" required="">
                        <label for="email"> Your email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="password" name="password" class="form-control" required="">
                        <label for="password">Your password</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-deep-orange" type="submit"> Sign up </button>
                    </div>
                    
                </form>
                <!-- Form register -->
            </div>
        </div>
    </div>
    


        <% include ../partials/footer %>

        <script>
    

        </script>
    </body>
    </html>
