<!DOCTYPE html>
<html>
<head>
    <title> One Playlist </title>
   
</head>

<style>

</style>

<body>
    <% include ../partials/header %>

        <div>
            <h1> Hello one playlist </h1>
           <h2> Playlist name :  <%= onePlayList.title %> </h2>

           <h1>
           <% allSongs.forEach(function(allSongs){ %>
                 WhyIsThisTwo 
                <p> <%=allSongs.songName%> </p>
            <% }); %>
           </h1>
        </div> 

        <% include ../partials/footer %>
      

     
    
    
 
    </body>
    </html>
